[Desktop Entry]
Version=1.0
Type=Application
Name=Install OllamaLinux
Comment=Install OllamaLinux to your hard disk
Exec=pkexec calamares
Icon=calamares
Terminal=false
Categories=System;
Keywords=install;setup;disk;
