[Unit]
Description=OllamaLinux First-Boot Configuration Wizard
After=multi-user.target systemd-logind.service getty@tty1.service
ConditionPathExists=!/etc/ollamalinux/.firstboot-done
Conflicts=getty@tty1.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/systemctl stop getty@tty1.service
ExecStart=/usr/local/bin/ollamalinux-firstboot
ExecStopPost=/usr/bin/systemd-run --no-block /usr/bin/systemctl start getty@tty1.service
NoNewPrivileges=true
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=no
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
